.breadCrumb{
    border: 1px solid lightgray;
    text-align: center;
}
.bg-green{
    background-color: #20aa6b;
}
.text-green{
    color: #20aa6b;
}
.details-img:hover{
    width: 110%;
    overflow: hidden;
    text-align: center;
}
.details:hover{
    border: 1px solid gray!important;
}
.btn:hover{
    border: 1px solid #20aa6b;
}