.addBtn2{
    
    border: none;
    background-color: #198754;
    color: #ffff;
}
.addBtn{
    background-color: #198754!important;
    color:#ffff!important;
    
    border-radius: 10px ;
    width: 100%;
    padding: 0px 0px;
}
.addBtn2:hover,.addBtn:hover{
    border: none;
}
.w:hover{
    color: lavender;;
}