.addBtn2{  
    border: none;
    background-color: #198754;
    color: #ffff;
}
.addBtn{
    background-color: #198754!important;
    color:#ffff!important;
    border-radius: 0px ;
    width: 100%;
    padding: 0px 0px;
}
.addBtn:hover{
    border: 1px solid gray;
}
.addBtn2:hover,.addBtn:hover{
    border: none;
}

