*{
    box-sizing: border-box;
}
.m{
    margin-left: 110px!important;
}
.b:hover{
   
    color: lightblue!important;
    border:1px solid gray;
    transition: all .2s;
}
form{
    position: relative;
}
input{
    display: block;
}

.button{
    position: absolute;
    top: 0;
    right: -10%;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}