*{
    box-sizing: border-box;
}
.m{
    margin-left: 0px!important;
}
.margin{
    margin-left: 165px!important;
}
.text-line{
    line-height: 28px;
    border:3px solid #20aa6b;
}
.bg-header{
    background-color: #445268;
}
.bg-nav{
    background-color: #313d51;
}
.bg-green{
    background-color: #20aa6b!important;
    border: none;
    border-radius: 5px;
    font-size: smaller;
    width: 125px;
    height: 45px;
    padding: 2%;
    font-weight: bold;
    border: 2px solid rgba(0,0,0,.5);
    transition: .8s;
}
.bg-green:hover{    
    background-color: greenyellow!important;
}
.b{
    background-color: white!important;
    border: none;
    border-radius: 5px;
    font-size: smaller;
    width: 125px;
    height: 45px;
    padding: 2%;
    font-weight: bold;
    border: 2px solid rgba(0,0,0,.5);
    transition: .8s;
}

.b:hover{
    color:  black!important;
    background-color: greenyellow!important;
    border:2px solid #20aa6b!important;;
    transition: all .8s;
}

.bn{
    color: #ea2027!important;
    font-weight: 500;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    background-color: #fbeb20!important;
    border-color: #fbeb20!important;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    border-radius: 5%;
    cursor: pointer;
}
.bn:hover{
    color: #fbeb20!important;
    background-color: #ea2027!important;
}
.bnn{
    color: black!important;
    font-weight: 500;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    background-color: #ffff!important;
    border-color: #ffff!important;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    border-radius: 5%;
    cursor: pointer;
}
.bnn:hover{
    color: #ea2027!important;
    background-color: #20aa6b!important;
}
.bn2:hover{
    color: #fbeb20!important;
    /* background-color: #ea2027!important; */
}
form{
    position: relative;
}
input{
    display: block;
}

.button{
    position: absolute;
    top: 0;
    right: -10%;
    width: 80px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}
.src{
    border: none;
    padding: 8px 15px ;
    border-radius: 10%;
    background-color: #20aa6b;
    line-height: 25px;
    box-shadow: 1px 1px 5px #20aa6b;
    right: -55%;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
}
option,select{
    border: none;
}
.w{
    width: 260px;
}
.category{
    background-color: #20aa6b;
    color: white;
    padding: 2px;
    
}
/* dropdown */
.header {
    background-color: #20aa6b;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
  }
  
  .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 1px;
  }
  
  .dropdown.active > .link,
  .link:hover {
    color: black;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    left: -22%;
    top: calc(100% + .30rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  }
  
  .dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .information-grid {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 2rem;
  }
  
  .dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .80rem;
  }
  
  .login-form > input {
    margin-bottom: .5rem;
  }