*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.full-container{
    /* max-width: 1280px; */
    margin:0;
    padding: 0;
}
.bg-header{
    background-color: #445268;
}
.bg-nav{
    background-color: #313d51;
}
.header-banner{
    display: none;
}
.margin{
    margin: 0px  15px!important;
}
.search-field{
    width:200px;
}
#search{
    line-height: 1.8rem;
    border:2px solid #20aa6b;
    box-shadow: 0 0 5 10 rgba(0,0,0,.5)!important;
    width: 300% !important;
    
    display: block;
    position: relative;

}
#search::before{
    border:2px solid #20aa6b;
    width: 200%;
}
#search:focus{
    border: 3px solid #20aa6b;
    box-shadow: 0 5 5 0 rgba(0,0,.8,.5)!important;
}
#search-btn{
    border: none;
    padding: 7px 14px ;
    border-radius: 10%;
    background-color: #20aa6b;
    line-height: 25px;
    box-shadow: 1px 1px 5px #20aa6b;
    right: -55%;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    display: flex;
    text-align: center;
    
}
.header-margin{
    margin-right: 12%!important;
    margin-left: 3rem!important;
}
.header-btn{
    background-color: white!important;
    border: none;
    border-radius: 5px;
    font-size: smaller;
    width: 125px;
    height: 45px;
    padding: 2%;
    font-weight: bold;
    border: 2px solid rgba(0,0,0,.5);
    transition: .8s ease;
}

.header-btn:hover{
    color: black!important;
    background-color: greenyellow!important;
    border:2px solid #20aa6b!important;;
    transition: all .8s;
}
.cart-btn{
    background-color: #20aa6b!important;
    border: none;
    border-radius: 5px;
    font-size: smaller;
    width: 125px;
    height: 45px;
    padding: 2%;
    font-weight: bold;
    border: 2px solid rgba(0,0,0,.5);
    transition: .8s ease-in;
}
.cart-btn:hover{
    background-color: greenyellow!important;

}
.dark-btn{
    display: none!important;
}
.cursor{
    cursor:pointer;
}
/* //todo phone screen for header */
@media (max-width: 940px) {
    .header-banner{
        display:flex ;
        height: rem;
        position: relative;
    }
    .navbar-brand{
        margin: 0;
    }
    .header-margin{
        margin-right:0 !important;
        margin-left:0 !important;
        
    }
    #search{
        width: 100% !important;
        margin: 0;
    }
    #search-btn{
        display: none!important;
    }
    .header-btn,.cart-btn{
        background-color:none!important;
        border: none;
         width: 50%;
        height: 0px; 
        display: flex;
        padding: 0;
        margin: 1vh;
        color: #f8f8f8;
    }
    .header-btn:hover,.cart-btn:hover{
        color:#20aa6b;
    }
    .header-btn i,.cart-btn i{
        display: flex;
        color: #20aa6b!important;
    }
    .header-btn  span, .cart-btn span{
        display: none !important;
    }
    .from-check, .form-check-label {
        display: none !important;
        margin: 1vh;
    }
    .from-check .form-check-label i{
        display: flex;
    }
    .dark-btn{
        display: flex;
    }
}
/*//todo for high resolution */
@media only screen and (min-width: 1400px) and (max-width: 2400px) { 
    .header-margin{
        margin-right: 17%!important;
    margin-left: 3rem!important;
    }
   }


/* //todo navbar---2----------- */

.nav-btn{
    color: #ea2027!important;
    font-weight: 500;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    background-color: #fbeb20!important;
    border-color: #fbeb20!important;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    border-radius: 5%;
    cursor: pointer;
    text-decoration: none;
    margin-top: 3px;
}
.nav-btn:hover{
    color: #fbeb20!important;
    background-color: #ea2027!important;
}
.nav-btn2{
    color: black!important;
    font-weight: 500;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    background-color: #ffff!important;
    border-color: #ffff!important;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    border-radius: 5%;
    cursor: pointer;
    text-decoration: none;
    margin-top: 3px;
}
.nav-btn2:hover{
    color: #ea2027!important;
    /* background-color: #20aa6b!important; */
}
.notification:hover{
    color: #fbeb20!important;
    /* background-color: #ea2027!important; */
}


.button{
    position: absolute;
    top: 0;
    right: -10%;
    width: 80px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}

option,select{
    border: none;
}

.category{
    background-color: #20aa6b;
    color: white;
    padding: 2px;
    
}
.circle{
    border: 1px solid gray;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 0 1px gray;
    background-color: #777;
}
/*//todocategory  dropdown */
.cat-header {
    background-color: #20aa6b;
    display: flex;
    align-items: baseline;
    padding: .25rem .80rem;
    gap: 1rem;
  }
  .cat-margin{
    margin-left:3rem;
    margin-right: 4.4%;
  }
  .nav-margin{
    margin-left: 40% ;
  }
  .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 1px;
  }
  
  .dropdown.active > .link,
  .link:hover {
    color: black;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    left: -3%;
    top: calc(100% + .27rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  }
  
  .dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .information-grid {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 2rem;
  }
  
  .dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .80rem;
  }
  
  .login-form > input {
    margin-bottom: .5rem;
  }

/* responsive for mobile---------- */
  @media (max-width: 980px) {
    #navbarsExample{
        background-color: none !important;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        width:20px;
        height: 10px;
        top:0;
        left:-15%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .nav-link.active {
        display: flex;
    }
    .dropdown-menu {
         top: calc(100% + .0rem);
         padding: 5px;
         padding-left: 6%;
         left: -55%;
        }
        .link{padding: 11%;}
}
    @media (max-width: 980px) {
        .cat-header{
            background-color: none !important;
            padding: 0;
            margin: 0;
            color: #f8f8f8;
        }
        .cat-header .dropdown h5{
            font-size: small;
            background-color: none !important;
        }
        .cat-header .dropdown small{
            display: none;
        }
       .nav-btn,.nav-btn2{
        background-color:none!important;
        border: none;
         width: 50%;
        height: 0px; 
        display: flex;
        padding: 0;
        margin: 1vh;
        color: #f8f8f8!important;
        text-shadow: none;
        box-shadow: none;
        }
        .nav-btn small,.nav-btn2 small{
            display: grid;
            row-gap: 50px;
            grid-template-columns: auto auto auto;
            padding: 1px;
            margin-bottom: 1px;
        }
        
        .cat-margin{
            margin-left:0%;
            margin-right: 0%;
          }
          .nav-margin{
            margin-left: 0% ;
          }
          .notification{
            display: none;
          }
}
@media only screen and (min-width: 1700px) and (max-width: 2500px) {
    .cat-header{
        padding: 1rem 5.2rem;
    }
    #margin-right{
        margin-right: 350px;
    }
    .nav-margin{
        margin-left: 53% ;
      }
      .cat-margin{
        margin-right:3.3%;
      }
      .dropdown-menu {
        left: -37%;
        top: calc(100% + .50rem);
        padding: .50rem 4.3rem!important;
      }
      .link{
        padding: .65rem 0;
      }
      
}
