.list-group{
    
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    
}
.list-group-item:hover{
   
    color:orange;
    border: 1px solid green;
    border-left:3px solid green;
}
.list-group-item-action:hover{
    background-color:black;
     color:orange;
 }
.list-group:hover{
    color: orange !important;;
}