.xl{
    width:200px;
}
.box{
    box-shadow: 1px 1px 5px lightgray;
}
.bg-green{
    background-color: #20aa6b;
}
.text-green{
    color: #20aa6b;
}
.title{
    height: 75px;
}
@media only screen and (min-width: 1400px) and (max-width: 2500px) {
    .xl{
        width: 300px;
    }
}
@media (max-width: 800px) {
    .xl{
        width:175px;
    }
}